.common-block{
	padding: 30px 0;
	border-bottom: 1px solid $default-gray;
}

.heading{
	margin: 0 0 20px 0;
}
.grid{
	text-align: center;
	a{
		display: block;
	}
	@include e(image){
		@extend %shadow;
		height: 215px;
		margin-bottom: rem(10px);
		overflow: hidden;
	}
	@include e(title){
		margin-bottom: rem(10px);
		color: $color-text;
		font-size: rem(16px);
	}
	@include e(location){
		margin-bottom: 2px;;
		font-size: rem(12px);
		color: $color-link;
	}
}
%featured{
	.heading{
		font-size: rem(24px);
	}
	.grid{
		&.big{
			.grid__image{
				height: 522px;
			}
		}
		&.small{
			.grid__desc{
				height: 138px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
.featured{
	@extend %featured;
}
.detail{
	@extend %featured;
	.grid{
		text-align: left;
		p{
			margin-bottom: 10px;
		}
		a{
			display: inline-block;
		}
	}
}
.category{
	text-align: center;
	.grid{
		@extend %shadow;
		display: inline-block;
		width: 340px;
		height: 220px;
		margin: 0 20px 20px 0;
		&.animal{
			background: image-url('animal.jpg') no-repeat center center;
			background-size:cover;
		}
		&.sports{
			background: image-url('sports.jpg') no-repeat center center;
			background-size:cover;
		}
		&.kids{
			background: image-url('child.jpg') no-repeat center center;
			background-size:cover;
		}
		&.dining{
			background: image-url('dining.jpg') no-repeat center center;
			background-size:cover;
		}
		&.heritage{
			background: image-url('culture.jpg') no-repeat center center;
			background-size:cover;
		}
		&.museum{
			background: image-url('museum.jpg') no-repeat center center;
			background-size:cover;
		}
		&.hiking{
			background: image-url('hiking.jpg') no-repeat center center;
			background-size:cover;
		}
		&.theatre{
			background: image-url('theatre.jpg') no-repeat center center;
			background-size:cover;
		}
		&.concert{
			background: image-url('concert.jpg') no-repeat center center;
			background-size:cover;
		}
		&.karaoke{
			background: image-url('karaoke.jpg') no-repeat center center;
			background-size:cover;
		}
		&.movie{
			background: image-url('movie.jpg') no-repeat center center;
			background-size:cover;
		}
		&.shopping{
			background: image-url('shopping.jpg') no-repeat center center;
			background-size:cover;
		}
		&.cinema{
			background: image-url('cinema.jpg') no-repeat center center;
			background-size:cover;
		}
		&.book{
			background: image-url('book.jpg') no-repeat center center;
			background-size:cover;
		}
		&.game{
			background: image-url('game.jpg') no-repeat center center;
			background-size:cover;
		}
		h3{
          color: transparentize($white, 0.1);
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
          font-size: rem(28px);
          a{
            color: transparentize($white, 0.1);
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
            font-size: rem(28px);
          }
          margin-top: 95px;
		}
	}
}
//Preferences Page
.info-box{
	padding: 10px;
	background: lighten($primary-color,40%);
	border-radius: 1px;
	margin-bottom: 20px;
}
label{
	width: 100%;
	margin-bottom: 5px;
	font-size: rem(16px);
}
form{
	p{
		margin-bottom: 20px;
		font-size: rem(14px);
		span{
			margin-right: 5px;
		}
	}
}
input, select{
	font-size: rem(14px);
	width: 300px;
	border: 1px solid $asphalt;
	padding: 5px 8px;
}
input[type="checkbox"], input[type="radio"]{
	width: auto;
	float: left;
	margin-right: 5px;
}
input[type="submit"]{
	background: $primary-color;
	color: $white;
	width: auto;
	border: none;
	padding: 10px;
}
//Listing Page
.listing{
	.grid{
      height: 400px;
      overflow: hidden;
		@include e(image){
			height: 240px;
		}
	}
}
.sign-up-block{
	width: 330px;
	padding: 15px;
	h2{
		text-align: center;
		margin-bottom: 20px;
	}
	input{
		margin-bottom: 20px;
	}
	input[type="submit"]{
		width: 100%;
		margin-bottom: 0;
	}
}
