<p id="notice"><%= notice %></p>

<header>
  <div class="container">
    <div class="row">
      <div class="logo col-xs-12 col-sm-3 col-md-3">
        <h1>
          <a href="index.html" title="Happy Weekend">Happy Weekend</a>
        </h1>
      </div>
      <button class="col-xs-12 col-sm-3 col-md-2 pull-right">
        Set My Preferences
      </button>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class="common-block col-xs-12 col-sm-12 col-md-12">
        <h2 class="heading col-xs-12 col-sm-12 col-md-12">Movies</h2>
        <div class="listing">
          <% @locations.all.each do |location| %>
          <div class="grid big col-xs-12 col-sm-4 col-md-2">
            <a href="#">
              <div class="grid__image">
                <img src="images/b.jpg" alt="poster">
              </div>
              <div class="grid__info">

                  <h3 class="grid__title"><%=location.name %></h3><p class="grid__location">
                <% geo_localization = "#{location.latitude},#{location.longitude}" %>
                <%   query = Geocoder.search(geo_localization).first %>
                 <%=  query.address %></p>

              </div>
            </a>
          </div>
          <%end %>

        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="container">
    <div class="row">
      <p>Footer</p>
    </div>
  </div>
</footer>
